* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
}
html {
    background-image: url(./pics/table.jpg);
    background-size: cover;
    background-color: rosybrown;
}
html, body {
    height: 100%;
    background-repeat: no-repeat;
}
.buttons-container {
    position: absolute;
    right: 30%;
    top: 8.5%;
}
h1 {  
    font-size: 62px;
    text-align: center;
    margin-top: -20px;
    color: rgb(177, 177, 51);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 30px;
    text-shadow: 3px 0 rgb(0, 0, 0), 3px 0 rgb(0, 0, 0), 3px 0 rgb(0, 0, 0), 3px 0 rgb(0, 0, 0);
}
.grid {
    background-image: url(./pics/etch-a-sketch.png);
    background-color: white;
    display: grid;
    z-index: 100;
    width: 800px;
    height: 565px;
    top: 240px;
    top: 50%;
    border-radius: 2;
    box-shadow: 0px 1px 10px 1px black;
}
.buttons {
   width: 600px;
   position: absolute;
   display: flex;
   justify-content: space-around;
   margin-top: 40px;
   margin-left: 105px;
}
.btn {
    padding: 14px 20px;
    background: rgb(26, 83, 190);
    font-size: 15px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 1px 10px 1px black;
    background-image: linear-gradient(120deg, rgb(161, 161, 46), rgb(163, 159, 159));
    font-family: monospace;
    font-weight: bolder;
}
.btn:hover {
    cursor: pointer;
    transform: scale(1.08)
}
.btn:active {
    transform: scale(1.04);
}
.slider-container {
    margin-left: -180px;
    margin-top: -220px;
}
#slider {
    transform: rotate(270deg);
    width: 20%;
    -webkit-appearance: none;
    background: rgb(224, 44, 44);
    border: 1px solid black;
    opacity: .89;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
}
#slider:hover {
    opacity: 1;
    cursor: grabbing;
}
.slider-value {
    font-size: 30px;
    background-image: linear-gradient(100deg, rgb(134, 144, 16), rgb(180, 173, 109));
    position: absolute;
    padding: 3px 19px;
    margin-left: 71px;
    margin-top: 100px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px 1px rgb(34, 37, 4);
    font-family: monospace;
    font-weight: bold;
}